.TitleBar {
    background-color: #fff;
    position: sticky;
    z-index: 741;
    top: 0;
    width: 100%;
    height: 100px
}

.HamburgerMenu {
    position: absolute;
    right: 40px;
    top: 28px;
    cursor: pointer;
}

.HamburgerMenu div {
    width: 34px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.Change .Bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.Change .Bar2 {
    opacity: 0;
}

.Change .Bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -6px)
}

.TitleBar ul {
    margin: 0;
}

.TitleBar li {
    text-decoration: none;
    display: block;
    padding: 25px 30px;
    list-style-type: none;
    margin: 12px 10px;
    overflow: auto;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, .05);
}



.TitleBar.Fixed li  {
    visibility: hidden;
    display: block;
}


.TitleBar li:last-child {
    border: none;
}

.TitleBar li a {
    text-decoration: none;
    color: black;
}

.TitleBar li a:hover,
.TitleBar li a:active {
    color: grey;
}


.TitleBar img {
    display: inline-block;
    padding: 30px;
    float: left;
}


.TitleBar.Sticky {
    display: none;
    height: 79px;
}

@media only screen and (min-width: 1240px) {
    .TitleBar.Sticky {
        display: block;
        visibility: visible;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0px;
        height: 70px;
        z-index: 7012;
        background: #fff;
        opacity: .80;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        -moz-sbox-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.0.5);
    }

    .Sticky ul {
        max-width: 1240px;
        padding: 0;
        margin: auto;
    }

    .Sticky li {
        position: relative;
        padding: 15px 30px;
    }

    .Sticky img {
        padding: 20px 30px;
    }

    .TitleBar li {
        display: inline-block;
    }

    .HamburgerMenu{
        visibility: hidden;
    }


    .TitleBar.Fixed li  {
        display: inline-block;
        visibility: visible;
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .Sticky ul {
        max-width: 728px;
    }
}

@media only screen and (max-width: 767px) {
    .Sticky ul {
        max-width: 90%;
        max-width: calc(100% - 67px);
    }
}

.FadeIn {
    width: 101px;
    height: 100px;
    position: relative;
    animation-name: FadeIn;
    animation-duration: 0.7s;
}

@keyframes FadeIn {
    0% {
        top: -80px;
    }

    100% {
        top: 0px;
    }
}