.App {
  text-align: center;
  font-family: 'Righteous', cursive;
  
}

body{
  background-color: #FCFCFC;
}




section:first-of-type{
  padding-top:60px;
}

@media (min-width: 768px) {
  .TypeWriterBody {
      font-size: 1.5em;

  }

  .TypeWriter {
      padding: 15px;
  }
}