
.App {
  /* font-family: "Roboto", Arial, Tahoma, sans-serif */
  
}

h2{
  font-family: "Lato", Arial, Tahoma, sans-serif;
}

body{
  background-color: #FCFCFC;
}

@media (min-width: 768px) {
  .TypeWriterBody {
      font-size: 1.5em;

  }

  .TypeWriter {
      padding: 15px;
  }
}