@media only screen and (max-width: 959px) and (min-width: 768px){
    .WebSiteView {
        max-width: 728px;
    }
}
@media only screen and (max-width: 767px){
    .WebSiteView {
        max-width: 90%;
        max-width: calc(100% - 67px);
    }
}

.WebSiteView {
    margin: 0 auto;
    overflow: hidden;
    margin: 25px 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2)
}

@media only screen and (min-width: 1240px){

    .WebSiteView {
        margin: 25px;
        max-width: 1240px;
    }
}
