.AboutMe {
    position: relative;
    background-color: whitesmoke;
    padding: 80px 0 60px 0;
    background-color: #373737;
}


.JohnDola{
    color:#fff;
    width:48%;
    margin-left:80px;
}

.JohnDola h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 3px;
}


.JohnDola p {
    color:#d1d1d1;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
}

.JohnDola p.SubHeader{
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin: 3px 0 30px 0;
    font-weight: lighter;
    color: #EDEDED;
    font-family: "Lato", Arial, Tahoma, sans-serif;

}

.AboutMe img{
    position: absolute;
    left: 0;
    top: 0;
    max-width: none!important;
    transition: opacity .2s;
}

.ScrollPictureAnimation{
    width: 1894.4px;
    height: 888px;
    transform: translate3d(-327.2px, -77px, 0px);
}